.popoverWrapper {
    padding: 0.5rem 1rem;
    background: #1d1d1d;
    border-radius: 0.25rem;
    transform: translateY(-1rem);
    opacity: 0.3;

    transition: all 0.3s ease-out allow-discrete;

    &:popover-open {
        transform: translateY(0);
        opacity: 1;
    }

    @starting-style {
        &:popover-open {
            transform: translateY(-1rem);
            opacity: 0.3;
        }
    }
}