.gradient {
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    overflow: hidden;
    position: relative;
    height: 400px;
}

.focusZoom {
    @property --focal-size {
        syntax: '<length-percentage>';
        initial-value: 100%;
        inherits: false;
    }

    touch-action: none;
    position: absolute;
    inset: 0;
    background: hsla(200 50% 0% / 0.3);
    backdrop-filter: blur(10px);
    transition: --focal-size .7s linear(0, 0.0021, 0.0083 1.06%, 0.0317 2.12%, 0.071 3.27%, 0.1307 4.59%, 0.259 6.89%, 0.5489 11.48%, 0.6704 13.51%, 0.7885 15.72%, 0.8812, 0.9572 19.78%, 0.9902, 1.0187, 1.0429, 1.063, 1.0793 25.08%, 1.0929 26.23%, 1.105 27.73%, 1.1116 29.32%, 1.113 30.99%, 1.109 32.85%, 1.1026 34.35%, 1.0926 36.12%, 1.0397 43.71%, 1.017 47.6%, 1.0073 49.72%, 0.9995, 0.9938 54.13%, 0.9898 56.51%, 0.9876 59.34%, 0.9874 62.52%, 0.9999 82.12%, 1.0014 89.54%, 1.0009 99.96%);

    mask-image: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent var(--focal-size),
    black 0%
    );
}